<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- New permission in Android Q. Allows users to grant location access in two different scopes: while in use (foreground only) or always (foreground and background) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- Allow a program to access CellID or WiFi hotspots to get approximate location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Android 13+ requires this permission to show notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Get precise location through GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Allow program to access Wi-Fi network state information -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Allow program to access GSM network information -->
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Allow program to open network sockets -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Allow access to vibration device -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Allow use of PowerManager WakeLocks to keep process alive when screen goes off -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Allow program to create mock locations for testing -->
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <!-- Allow a program to open windows using TYPE_SYSTEM_ALERT, displayed on top of all other programs -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".GoApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Hide Mock Location Status" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:exported="false"
            android:name="com.cxorz.anywhere.service.ServiceGo"
            android:foregroundServiceType="location" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_settings"
            android:exported="false" />

        <activity
            android:name=".HistoryActivity"
            android:label="@string/app_history"
            android:exported="false" />

    </application>

</manifest>